body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    margin-left: 20px;
}

h1 {
    font-size: 100px;
    position: relative;
    border-bottom: 8px dashed red;
    display: inline;
}

#stoma_main_img {
    margin-top: 3%;
    /*width: ;*/
    border: 1px solid white;
}

#stoma_about_img {
    width: 400px;
}

#stoma_eyes_img {
    width: 400px;
}

#stoma_front_img {
    width: 400px;
}

#link {
    color: white;
    font-size: 150%;
}

#link:hover {
    color: yellow;
}

ul a {
    text-decoration: none;
}

ul {
    padding-top: 1%;
}

nav ul li {
    list-style-type: none;
    font-size: 135%;
    font-weight: bold;
    display: inline-block;
    border: 1px solid blue;
    max-width: 30%;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: blue;
    border-radius: 14px;
}